
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');


h6{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.01em;
  margin-left: 5px;
}

.mounth{
  text-transform: capitalize;
}

@media only screen and (max-width: 1024px) {
  .date{
    align-content: center
  }
   .dayTime{
    font-size: 30px;
    margin-right: 10px;
    margin-left: 30px;
   }
   .mounth{
    font-size: 20px;
    margin-left: 11px;
   }
   .year{
     display: none;
   }

}
