.dates .btn{
  color: #fff;
  font-size: 20px;
}

.botton-date{
  color: rgb(10, 10, 10);
  font-size: 20px;
}
 .botton-date:first-letter { text-transform: capitalize; }

 
.btn-outline-secondary{
  border: none;
  font-size: 20px;
}
.btn-outline-secondary:hover{
  background: #b0b0b0;
}