@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');

*{
  margin: 0;
  padding: 0;
}

h1, p {
  font-family: Lato;
}
.container-fluid{
  padding-left: 0;
}
.content{
  padding-top: 8px;
  box-shadow: -1em 0px 6px 0px rgb(0,0,0,0.3);
}
.title{
 text-align: center;
  font-size: 36px;
  align-items: center;
  background: linear-gradient(to top, #b0b0b0 0%, #b0b0b09c 1%, #b0b0b0 100%);
  width: 100%;
  color: #fff;
  margin: 0 0 9px 0px;
  font-family: 'Open Sans Condensed', sans-serif;
  padding:16px;
  box-shadow: 7px 4px 20px 0 rgba(0,0,0,0.3);
}
h6{
  font-size: 24px;
}




.dates .btn{
  color: #fff;
  font-size: 24px;
}
.modify-view{
  display:none;

}
.show-view:hover .modify-view{
  display:block;
}

#inlineFormCustomSelectPref{
  margin-left: 37%;
}