@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');

*{
  margin: 0;
  padding: 0;
  
}

/* .cp{
  background-color: red;
}

.cg{
  background-color: blue;
} */


h1, p {
  font-family: Lato;
}

