#data{
  align-items: center;
  font-size: 15px;
  text-align: center;
}
table{

  box-shadow: 10px 10px 15px 0 rgba(0,0,0,0.3);
  z-index: 2;
}
.table .thead-dark th{
  background: #1A57A3;
  border-color: #134077;
}
#mounthAndYear{
  font-size: 14px;
}
th,td{
  font-size: 10px;
  text-align: center;
  vertical-align: middle;
}

tr td{
  box-sizing: border-box;
	position: relative;
  transition: all 0.3s ease-in-out;
	cursor: pointer; 

}
tr td:hover{
  box-shadow: inset 2px 2px 4px 1px rgba(1, 1, 1, 0.712);
	transform: scale(0.95);
  background: #343a40;
  color: #fff;
}
.active{
  box-shadow: inset 3px 3px 4px 1px  rgba(0, 0, 0, 0.349);
  transform: scale(0.95);
  background: #ddd ;
  color: #000;
}

.botton-date{
  color: #fff;
  font-size: 20px;
}
 .botton-date:first-letter { text-transform: capitalize; }


.btn-outline-primary{
  border: none;
  font-size: 20px;
}
.btn-right{
  width: 60px;
}

.btn-left{
  width: 60px;
  top: 10%;
  left: 10%;
}
.temp{
  display: none;
}