#semana{
  align-items: center;
  box-shadow: 10px 10px 15px 0 rgba(0,0,0,0.3);
  
}
.fixo{
 background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
 color: white;
}

.day{
    color: #797979;
    position: relative;
    width: 60px;
    height: 60px;
    background: rgba(231, 229, 229, 0.3);
    display: inline-flex;
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.3);
    justify-content: center;
    left: 0%;
    border-radius: 50%;
    margin-bottom: 15px;
}
.itsToday{
  background: #858585;
  color: white;
}

.weekend{
  background: #1d2f38;
  color: white;
}
.itsTodayweekend{
  background: #858585;
  color: white;
}
.col-sm-2{
  justify-content: center;
  display: inline-table;
}
.col-12{
  margin-bottom: -18px;
}

.video{
  background: #ccd9f0;
  padding: 16px;
  margin-bottom: 10px;
  border-left: solid  #718cbe;
  box-shadow: 1px 1px 6px 0 rgb(0,0,0,0.3);
  transition: 0.5s;
}
.video:hover{
  background: #bdcdea;
  box-shadow: 10px 10px 15px 0 rgb(0,0,0,0.3);
  transition: 0.5s;
}


.presencial{
  background: #ddf0cc;
  padding: 16px;
  margin-bottom: 10px;
  border-left: solid #a3d973;
  box-shadow: 1px 1px 6px 0 rgb(0,0,0,0.3);
  transition: 0.5s;
}
.presencial:hover{
  background: #d0f0b3; 
  box-shadow: 10px 10px 15px 0 rgb(0,0,0,0.3);
  transition: 0.5s;
}
.presencial, .video h4,p{
 font-family: 'Open Sans Condensed', sans-serif;
}
.presencial, .video h4{
  font-size: 20px;
}

.presencial, .video p{
  font-size: 15px;
}


.cell {  
  text-align: center;
  flex-basis: 14%;
  flex-grow: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-tap-highlight-color: #0000;
  padding-right: 0;
}

@media only screen and (max-width: 1024px) {
   .head
{
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
}
.exibe
{
    display: table-cell;
    
}
  
 
 .modify-view{
    margin-left: -20%;
  }
  .cell{
  box-shadow: 10px 10px 15px 0 rgba(0,0,0,0.3);
  border: none;
  flex-basis: 90%;
  }
  .dias{
    justify-content: space-around;
    margin-right: 10px
  }
}