#data{
  align-items: center;
  font-size: 15px;
  text-align: center;
}

th,td{
  font-size: 10px;
  align-items: center;
}
botao, btn{
  align-items: center;
  align-content: center;
  padding: 0;
  color: #000;
}